<nav
        class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
      >
        <a href class="navbar-brand p-0">
          <img src="../../assets/img/NewFishes/IMG_5426.PNG" alt="" width="150px" height="200px">
          <!-- <h1 class="text-primary" style="color: #0ba2f9 !important; font-size: 2rem;">
            <i class="fas fa-fish me-3" style="color: #0ba2f9 !important;"></i>
            African Tropical FishExport
          </h1> -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a href="/Home" class="nav-item nav-link active">Home</a>
            <a href="/About" class="nav-item nav-link">About</a>
            <a href="/Services" class="nav-item nav-link">Service</a>
            <a href="/Species" class="nav-item nav-link">Species</a>
            <div class="nav-item dropdown">
              <a
                href="#"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                >Gallery</a
              >
              <div class="dropdown-menu m-0">
                <a href="/Lagos" class="dropdown-item">Nigerian Fishes</a>
                <a href="/Congo" class="dropdown-item">Congo Fishes</a>
                <!-- <a href="team.html" class="dropdown-item">Our Team</a> -->
                <!-- <a href="testimonial.html" class="dropdown-item">Testimonial</a> -->
                <!-- <a href="404.html" class="dropdown-item">404 Page</a> -->
              </div>
            </div>
            <a href="/Contact" class="nav-item nav-link">Contact</a>
          </div>
          <div class="d-none d-xl-flex me-3">
            <div class="d-flex flex-column pe-3 border-end border-primary">
              <!-- <span class="text-body">Get Free Delivery</span> -->
              <a href="tel:+4733378901"><span class="text-primary" style="color: #0077be !important;"><i class="fas fa-phone"></i> +234 803 378 2267</span></a>
              <a href="https://wa.me/07061160005"><span class="text-primary" style="color: #0077be !important;"><i class="fab fa-whatsapp"></i> +234 706 116 0005</span></a>
            </div>
          </div>
          <!-- <button
            class="btn btn-primary btn-md-square d-flex flex-shrink-0 mb-3 mb-lg-0 rounded-circle me-3"
            data-bs-toggle="modal"
            data-bs-target="#searchModal"
          >
            <i class="fas fa-search"></i>
          </button> -->
          <a
            href="/Quote"
            class="btn btn-primary rounded-pill d-inline-flex flex-shrink-0 py-2 px-4"
            >Get a Quote</a
          >
        </div>
      </nav>