
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
      <div class="row g-5 mb-5 align-items-center">
        <div class="col-lg-7">
          <!-- <div class="position-relative mx-auto">
            <input
              class="form-control rounded-pill w-100 py-3 ps-4 pe-5"
              type="text"
              placeholder="Email address"
            />
            <button
              type="button"
              class="btn btn-secondary rounded-pill position-absolute top-0 end-0 py-2 px-4 mt-2 me-2"
              style="background-color: #0077be !important;"
            >
              Subscribe
            </button>
          </div> -->
        </div>
        <div class="col-lg-5">
          <div
            class="d-flex align-items-center justify-content-center justify-content-lg-end"
          >
            <a
              class="btn btn-secondary btn-md-square rounded-circle me-3" href="https://www.facebook.com/africantropicalfishexporter?mibextid=LQQJ4d"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <!-- <a
              class="btn btn-secondary btn-md-square rounded-circle me-3"
              href
              ><i class="fab fa-twitter"></i
            ></a> -->
            <a
              class="btn btn-secondary btn-md-square rounded-circle me-3"
              href="https://www.instagram.com/african_tropical_fish?igsh=MW4yc24xMzZxMzFlaA%3D%3D&utm_source=qr"
              ><i class="fab fa-instagram"></i
            ></a>
            <a
              class="btn btn-secondary btn-md-square rounded-circle me-0"
              href="https://www.linkedin.com/in/african-tropical-fish-9b6701318/"
              ><i class="fab fa-linkedin-in"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="row g-5">
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <div class="footer-item">
              <h3 class="text-white mb-4" style="color: #0077be !important;">
                African Tropical FishExport
              </h3>
              <p class="mb-3" style="color: black !important;">
                We export live tropical aquarium fish, aquatic plants, non-cite reptiles, insects, amphibians
              </p>
            </div>
            <!-- <div class="position-relative">
              <input
                class="form-control rounded-pill w-100 py-3 ps-4 pe-5"
                type="text"
                placeholder="Email Address"
              />
              <button
                type="button"
                class="btn btn-secondary rounded-pill position-absolute top-0 end-0 py-2 mt-2 me-2"
                style="background-color: #0077be !important;"
              >
                SignUp
              </button>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <h4 class="text-white mb-4" style="color: #0077be !important;">About Us</h4>
            <a href="/About"
              ><i class="fas fa-angle-right me-2"></i> Why Choose Us</a
            >
            <!-- <a href="#"
              ><i class="fas fa-angle-right me-2"></i> Free Water Bottles</a
            > -->
            <!-- <a href="#"
              ><i class="fas fa-angle-right me-2"></i> Water Dispensers</a
            > -->
            <!-- <a href="#"
              ><i class="fas fa-angle-right me-2"></i> Bottled Water
              Coolers</a
            > -->
            <a href="/Contact"><i class="fas fa-angle-right me-2"></i> Contact us</a>
            <a href="/Terms"
              ><i class="fas fa-angle-right me-2"></i> Terms & Conditions</a
            >
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <h4 class="text-white mb-4" style="color: #0077be !important;">Business Hours</h4>
            <div class="mb-3">
              <h6 class="text-muted mb-0" style="color: #0077be !important;">Mon - Sunday:</h6>
              <p class="text-white mb-0" style="color: black !important;">24 Hours</p>
            </div>
            <!-- <div class="mb-3">
              <h6 class="text-muted mb-0" style="color: #0077be !important;">Saturday:</h6>
              <p class="text-white mb-0" style="color: black !important;">10.00 am to 05.00 pm</p>
            </div>
            <div class="mb-3">
              <h6 class="text-muted mb-0" style="color: #0077be !important;">Vacation:</h6>
              <p class="text-white mb-0" style="color: black !important;">All Sunday is our vacation</p>
            </div> -->
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-3">
          <div class="footer-item d-flex flex-column">
            <h4 class="text-white mb-4" style="color: #0077be !important;">Contact Info</h4>
            <a href="#" style="color: black !important;"
              ><i class="fa fa-map-marker-alt me-2" style="color: #0077be !important;"></i> 32 TAIWO SHOREMEKUN STREET, CANAL ESTATE  - OKOTA LAGOS,  NIGERIA</a
            >
            <a
              href="https://demo.htmlcodex.com/cdn-cgi/l/email-protection#741d1a121b34110c15190418115a171b19"
              style="color: black !important;"
              ><i class="fas fa-envelope me-2" style="color: #0077be !important;"></i>
              <span
                class="__cf_email__"
                data-cfemail="91f8fff7fed1f4e9f0fce1fdf4bff2fefc"
                >[email&#160;protected]</span
              ></a
            >
            <!-- <a
              href="https://demo.htmlcodex.com/cdn-cgi/l/email-protection#dbb2b5bdb49bbea3bab6abb7bef5b8b4b6"
              ><i class="fas fa-envelope me-2"></i>
              <span
                class="__cf_email__"
                data-cfemail="e68f888089a6839e878b968a83c885898b"
                >[email&#160;protected]</span
              ></a
            > -->
            <a href="tel:+2348033782267" style="color: black !important;"
              ><i class="fas fa-phone me-2" style="color: #0077be !important;"></i>  +234 803 378 2267</a
            >
            <a href="https://wa.me/+2347061160005" class="mb-3" style="color: black !important;"
              ><i class="fab fa-whatsapp me-2" style="color: #0077be !important;"></i> +234 706 116 0005</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid copyright py-4">
    <div class="container">
      <div class="row g-4 align-items-center">
        <div class="col-md-6 text-center text-md-start mb-md-0">
          <span class="text-body" style="color: black !important; font-weight: bold;"
            ><a href="https://www.morrhtechsolutions.com/" class="border-bottom text-white" style="color: #0077be !important;"
              ><i class="fas fa-copyright text-light me-2"></i>Morrhtech Solution</a
            > All right reserved.</span
          >
        </div>
        <div class="col-md-6 text-center text-md-end text-body">
          Designed By
          <a class="border-bottom text-white" href="https://jamikeobikwelu.com.ng/"
            >Jamike Obikwelu</a
          >
        </div>
      </div>
    </div>
  </div>

  <a
    href="#"
    class="btn btn-lg-square rounded-circle back-to-top"
    style="background-color: #0077be !important;"><i class="fa fa-arrow-up"></i
  ></a>
