<div class="container-fluid bg-breadcrumb">
  <div class="container text-center py-5" style="max-width: 900px">
    <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">
      Our Services
    </h4>
    <ol
      class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown"
      data-wow-delay="0.3s"
    >
      <li class="breadcrumb-item"><a href="/Home">Home </a></li>
      <span> ></span>
      <li class="breadcrumb-item active text-primary">Service</li>
    </ol>
  </div>
</div>

<div
  class="modal fade"
  id="searchModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content rounded-0">
      <div class="modal-header">
        <h4 class="modal-title mb-0" id="exampleModalLabel">
          Search by keyword
        </h4>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body d-flex align-items-center">
        <div class="input-group w-75 mx-auto d-flex">
          <input
            type="search"
            class="form-control p-3"
            placeholder="keywords"
            aria-describedby="search-icon-1"
          />
          <span id="search-icon-1" class="input-group-text btn border p-3"
            ><i class="fa fa-search text-white"></i
          ></span>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Our Services Section Starts -->
<div class="container-fluid service bg-light overflow-hidden py-5">
  <div class="container py-5">
    <div
      class="text-center mx-auto pb-5 wow fadeInUp"
      data-wow-delay="0.2s"
      style="max-width: 800px"
    >
      <h4 class="text-uppercase text-primary">Our Services</h4>
      <h1 class="display-3 text-capitalize mb-3">
        Delivering the Best Tropical Fish from Africa
      </h1>
    </div>
    <div class="row gx-0 gy-4 align-items-center">
      <div class="col-lg-6 col-xl-4 wow fadeInLeft" data-wow-delay="0.2s">
        <div class="service-item rounded p-4 mb-4">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="service-content text-end">
                  <a href="#" class="h4 d-inline-block mb-3"
                    >Residential Aquariums</a
                  >
                  <p class="mb-0">
                    We supply a variety of tropical fish perfect for enhancing
                    the beauty and tranquility of home aquariums.
                  </p>
                </div>
                <div class="ps-4">
                  <div class="service-btn">
                    <i class="fas fa-home text-white fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item rounded p-4 mb-4">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="service-content text-end">
                  <a href="#" class="h4 d-inline-block mb-3"
                    >Commercial Aquariums</a
                  >
                  <p class="mb-0">
                    Our premium tropical fish collections are ideal for
                    commercial settings, providing a captivating aquatic
                    display.
                  </p>
                </div>
                <div class="ps-4">
                  <div class="service-btn">
                    <i class="fas fa-building text-white fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item rounded p-4 mb-0">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="service-content text-end">
                  <a href="#" class="h4 d-inline-block mb-3"
                    >Filtration Systems</a
                  >
                  <p class="mb-0">
                    We offer advanced filtration systems to ensure the health
                    and clarity of water in your aquariums.
                  </p>
                </div>
                <div class="ps-4">
                  <div class="service-btn">
                    <i class="fas fa-water text-white fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
        <!-- <div class="bg-transparent">
          <img src="../../assets/img/aquarium.png" class="img-fluid w-100" alt="Aquarium Image" />
        </div> -->
      </div>
      <div class="col-lg-6 col-xl-4 wow fadeInRight" data-wow-delay="0.2s">
        <div class="service-item rounded p-4 mb-4">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="pe-4">
                  <div class="service-btn">
                    <i class="fas fa-fish text-white fa-2x"></i>
                  </div>
                </div>
                <div class="service-content">
                  <a href="#" class="h4 d-inline-block mb-3">Water Softening</a>
                  <p class="mb-0">
                    Our water softening solutions ensure your tropical fish
                    thrive in optimal water conditions.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item rounded p-4 mb-4">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="pe-4">
                  <div class="service-btn">
                    <i class="fas fa-search text-white fa-2x"></i>
                  </div>
                </div>
                <div class="service-content">
                  <a href="#" class="h4 d-inline-block mb-3">Market Research</a>
                  <p class="mb-0">
                    We conduct thorough market research to bring you the most
                    sought-after tropical fish species.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item rounded p-4 mb-0">
          <div class="row">
            <div class="col-12">
              <div class="d-flex">
                <div class="pe-4">
                  <div class="service-btn">
                    <i class="fas fa-project-diagram text-white fa-2x"></i>
                  </div>
                </div>
                <div class="service-content">
                  <a href="#" class="h4 d-inline-block mb-3"
                    >Project Planning</a
                  >
                  <p class="mb-0">
                    From start to finish, we assist with the planning and
                    implementation of aquarium projects.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Services Section Ends -->
<div class="container-fluid counter py-5">
  <div class="container py-5">
    <div class="row g-5">
      <div
        class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.2s"
      >
        <div class="counter-item">
          <div class="counter-item-icon mx-auto">
            <i class="fas fa-thumbs-up fa-3x text-white"></i>
          </div>
          <h4 class="text-white my-4">Happy Clients</h4>
          <div class="counter-counting">
            <span class="text-white fs-2 fw-bold" data-toggle="counter-up"
              >3567</span
            >
            <span class="h1 fw-bold text-white">+</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.4s"
      >
        <div class="counter-item">
          <div class="counter-item-icon mx-auto">
            <i class="fas fa-truck fa-3x text-white"></i>
          </div>
          <h4 class="text-white my-4">Transport</h4>
          <div class="counter-counting">
            <span class="text-white fs-2 fw-bold" data-toggle="counter-up"
              >513</span
            >
            <span class="h1 fw-bold text-white">+</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.6s"
      >
        <div class="counter-item">
          <div class="counter-item-icon mx-auto">
            <i class="fas fa-users fa-3x text-white"></i>
          </div>
          <h4 class="text-white my-4">Employees</h4>
          <div class="counter-counting">
            <span class="text-white fs-2 fw-bold" data-toggle="counter-up"
              >53</span
            >
            <span class="h1 fw-bold text-white">+</span>
          </div>
        </div>
      </div>
      <div
        class="col-md-6 col-lg-6 col-xl-3 wow fadeInUp"
        data-wow-delay="0.8s"
      >
        <div class="counter-item">
          <div class="counter-item-icon mx-auto">
            <i class="fas fa-heart fa-3x text-white"></i>
          </div>
          <h4 class="text-white my-4">Years Experiance</h4>
          <div class="counter-counting">
            <span class="text-white fs-2 fw-bold" data-toggle="counter-up"
              >17</span
            >
            <span class="h1 fw-bold text-white">+</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Client Reviews Start -->
<div class="container-fluid testimonial py-5">
  <div class="container py-5">
    <div
      class="text-center mx-auto pb-5 wow fadeInUp"
      data-wow-delay="0.2s"
      style="max-width: 800px"
    >
      <h4 class="text-uppercase text-primary">Testimonials</h4>
      <h1 class="display-3 text-capitalize mb-3">Our clients reviews.</h1>
    </div>
    <div
      class="owl-carousel testimonial-carousel wow fadeInUp"
      data-wow-delay="0.3s"
    >
      <div class="testimonial-item text-center p-4">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          pariatur officiis quis molestias, sit iure sunt voluptatibus
          accusantium laboriosam dolore.
        </p>
        <div class="d-flex justify-content-center mb-4">
          <img
            src="../../assets/img/testimonial-1.jpg"
            class="img-fluid border border-4 border-primary"
            style="width: 100px; height: 100px; border-radius: 50px"
            alt
          />
        </div>
        <div class="d-block">
          <h4 class="text-dark">Client Name</h4>
          <p class="m-0 pb-3">Profession</p>
          <div class="d-flex justify-content-center text-secondary">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
      <div class="testimonial-item text-center p-4">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          pariatur officiis quis molestias, sit iure sunt voluptatibus
          accusantium laboriosam dolore.
        </p>
        <div class="d-flex justify-content-center mb-4">
          <img
            src="../../assets/img/testimonial-2.jpg"
            class="img-fluid border border-4 border-primary"
            style="width: 100px; height: 100px; border-radius: 50px"
            alt
          />
        </div>
        <div class="d-block">
          <h4 class="text-dark">Client Name</h4>
          <p class="m-0 pb-3">Profession</p>
          <div class="d-flex justify-content-center text-secondary">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
      <div class="testimonial-item text-center p-4">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          pariatur officiis quis molestias, sit iure sunt voluptatibus
          accusantium laboriosam dolore.
        </p>
        <div class="d-flex justify-content-center mb-4">
          <img
            src="../../assets/img/testimonial-3.jpg"
            class="img-fluid border border-4 border-primary"
            style="width: 100px; height: 100px; border-radius: 50px"
            alt
          />
        </div>
        <div class="d-block">
          <h4 class="text-dark">Client Name</h4>
          <p class="m-0 pb-3">Profession</p>
          <div class="d-flex justify-content-center text-secondary">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
      <div class="testimonial-item text-center p-4">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt
          pariatur officiis quis molestias, sit iure sunt voluptatibus
          accusantium laboriosam dolore.
        </p>
        <div class="d-flex justify-content-center mb-4">
          <img
            src="../../assets/img/testimonial-3.jpg"
            class="img-fluid border border-4 border-primary"
            style="width: 100px; height: 100px; border-radius: 50px"
            alt
          />
        </div>
        <div class="d-block">
          <h4 class="text-dark">Client Name</h4>
          <p class="m-0 pb-3">Profession</p>
          <div class="d-flex justify-content-center text-secondary">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Client Review Ends -->
