<!-- First Section Starts -->
<div class="container-fluid bg-breadcrumb" style="height: 400px;">
    <div class="container text-center d-flex flex-column justify-content-center" style="max-width: 900px; height: 100%;">
      <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">
        Congo Fishes
      </h4>
      <ol
        class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown"
        data-wow-delay="0.3s"
      >
        <li class="breadcrumb-item"><a href="/Home">Home </a></li>
        <span> / </span>
        <li class="breadcrumb-item active text-primary">Congo Fishes</li>
      </ol>
    </div>
  </div>
  
  <!-- First Section Ends -->
  
  
    <div
        class="modal fade"
        id="searchModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-fullscreen">
          <div class="modal-content rounded-0">
            <div class="modal-header">
              <h4 class="modal-title mb-0" id="exampleModalLabel">
                Search by keyword
              </h4>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body d-flex align-items-center">
              <div class="input-group w-75 mx-auto d-flex">
                <input
                  type="search"
                  class="form-control p-3"
                  placeholder="keywords"
                  aria-describedby="search-icon-1"
                />
                <span id="search-icon-1" class="input-group-text btn border p-3"
                  ><i class="fa fa-search text-white"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="container-fluid blog py-5">
        <div class="container py-5">
          <div
            class="text-center mx-auto pb-5 wow fadeInUp"
            data-wow-delay="0.2s"
            style="max-width: 800px"
          >
            <h1 class="display-3 text-capitalize mb-3">FRESH WATER FISH PRICE LIST</h1>
            <h4 class="text-uppercase text-primary">Explore Our Congo Fish Gallery</h4>
            <div class="additional-message">
              <p>If you would like to order a specie that does not appear in this gallery, please inform us when you fill out the <a href="/Contact">Contact Form</a></p>
            </div>
          </div>
          <div class="row g-4 justify-content-center">
            <div class="row">
              <ng-container *ngIf="CongoFishList$ | async as CongoFishList">
                <div *ngFor="let CongoFish of CongoFishList; let i = index" class="col-lg-6 col-xl-4 wow fadeInUp" [attr.data-wow-delay]="i * 0.2 + 's'">
                  <div class="blog-item">
                    <div>
                      <video class="img-fluid rounded-top w-100" controls id="myVideo" #videoElement>
                        <source [src]="CongoFish.source" type="video/mp4" />
                      </video>
                      <!-- <div class="blog-date px-4 py-2">
                        <i class="fa fa-calendar-alt me-1"></i> Jan 12 2025 
                      </div> -->
                    </div>
                    <div class="blog-content rounded-bottom p-4" style="margin-bottom: 20px;">
                      <a href="#" class="h4 d-inline-block mb-3">{{ CongoFish.Fishname }}</a>
                      <!-- <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel, officiis?
                      </p> -->
                      <!-- <a href="#" class="fw-bold text-secondary">
                        Read More <i class="fa fa-angle-right"></i>
                      </a> -->
                    </div>
                  </div>
                </div>
              </ng-container> <br>
            </div>
            
          </div>
        </div>
      </div>
  
  