<div class="container">
  
    <div class="content">
      <ul>
        <li *ngFor="let form of data">
          <strong>{{ form.fullName }}</strong><br>
          Email: {{ form.email }}<br>
          Mobile: {{ form.mobile }}<br>
          WhatsApp: {{form.whatsapp}}<br>
          Company: {{form.companyName}}<br>
          Country: {{form.country}}<br>
          Fish Name: {{form.fishName}}<br>
          Message: {{form.message}}<br>
          <hr>
        </li>
      </ul>
    </div>
  </div>
  